# IE517
## Homework #1 
##### (Due March 22)
## Abdullah Hanefi Önaldı
## Solving the TSP using Construction Heuristics and 2-Opt Improvement Heuristic

### Problem Description

In this homework, you are going to solve the TSP for three data sets. They are called eil51.dat, eil76.dat, and eil101.dat, and consist of 51, 76, and 101 customer locations, respectively. Each data set includes the x-coordinates and y-coordinates of customers. The distances between customer locations are measured via Euclidean distance rounded to two digits after the decimal point. You can also compute the optimal tour length by considering the sequence given in the xxxopt.dat files.

1. Solve each instance using the one-sided nearest neighbor heuristic starting at cities 10, 20, and 30. This means that you will obtain nine tours. Provide the tour length of each one using the table below.
2. Solve each instance using the two-sided nearest neighbor heuristic starting at cities 10, 20, and 30. This means that you will obtain nine tours. Provide the tour length of each one using the table below.
3. Solve each instance using the nearest insertion heuristic starting at cities 10, 20, and 30. This means that you will obtain nine tours. Provide the tour length of each one using the table below.
4. Solve each instance using the farthest insertion heuristic starting at cities 10, 20, and 30. This means that you will obtain nine tours. Provide the tour length of each one using the table below.
5. For each tour obtained so far, apply the 2-opt improvement heuristic, and give the tour length using the table below.

I would like to remind you the following points which you should consider when you submit your homework. It will consist of two parts: your code and report. First, your code must be clear and you should define the following using comment lines in the code: variables names and their purpose, function names and their purpose. For example, you should write "X is the location variable", "CompObj calculates the objective value", etc. Or, you can use a function name that is self explanatory e.g., ApplyMove.

In the report part, you have to mention which solution representation and neighborhood structure you used as well as other pertinent and tiny details worth pointing out. You can use the following table for the output of your solutions.

<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>method</th>
      <th colspan="2" halign="left">1-Sided_NN</th>
      <th colspan="2" halign="left">2-Sided_NN</th>
      <th colspan="2" halign="left">Nearest_Insert</th>
      <th colspan="2" halign="left">Furthest_Insert</th>
    </tr>
    <tr>
      <th></th>
      <th>stage</th>
      <th>Initial</th>
      <th>After_2-opt</th>
      <th>Initial</th>
      <th>After_2-opt</th>
      <th>Initial</th>
      <th>After_2-opt</th>
      <th>Initial</th>
      <th>After_2-opt</th>
    </tr>
    <tr>
      <th>dataset</th>
      <th>initial_customer</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">eil76</th>
      <th>10</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>20</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">eil101</th>
      <th>10</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>20</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">eil51</th>
      <th>10</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>20</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

Let's start by defining several helper functions:

- `l2_squared` : calculates the euclidian distance between two coordinates
- `calc_total_length` : calculates the total path length, given the corrdinates of all customers, and the order they are visited

In [1]:
import pandas as pd
import numpy as np


def l2_squared(p1, p2):
    x1, y1 = p1
    x2, y2 = p2
    return ((x1 - x2)**2 + (y1 - y2)**2)**0.5


def calc_total_length(coords, path):
    length = 0
    for first, second in zip(path, path[1:]):
        length += l2_squared(coords[first], coords[second])
    return length

The static variables storing problem instances, initial customer indices, methods, and stages as described in the problem description

In [72]:
INSTANCES = {
    'eil76': {
        'file': 'data/eil76.dat',
        'file_opt': 'data/eil76opt.dat'
    },
    'eil101': {
        'file': 'data/eil101.dat',
        'file_opt': 'data/eil101opt.dat'
    },
    'eil51': {
        'file': 'data/eil51.dat',
        'file_opt': 'data/eil51opt.dat'
    },
}
INITIAL_CUSTOMERS = [10, 20, 30]
METHODS = ['1-Sided_NN', '2-Sided_NN', 'Nearest_Insert', 'Furthest_Insert']
STAGES = ['Initial', 'After_2-opt']

Create the Pandas DataFrame that will hold all the solutions

In [73]:
def create_df(instances=INSTANCES,
              initial_customers=INITIAL_CUSTOMERS,
              methods=METHODS,
              stages=STAGES):
    indexes = [instances.keys(), initial_customers]
    row_index = pd.MultiIndex.from_product(
        indexes, names=['dataset', 'initial_customer'])

    indexes = [methods, stages]
    column_index = pd.MultiIndex.from_product(
        indexes, names=['method', 'stage'])

    df = pd.DataFrame(index=row_index, columns=column_index)

    return df

Read the files of the given instances

In [74]:
def read_files(instances=INSTANCES):
    for instance in instances.values():
        instance['coords'] = {}
        with open(instance['file']) as file:
            for line in file:
                [i, x, y] = list(map(int, line.split()))
                instance['coords'][i] = (x, y)

        instance['optimal_path'] = []
        with open(instance['file_opt']) as file_opt:
            for line in file_opt:
                try:
                    i = int(line)
                    instance['optimal_path'].append(i)
                except ValueError:
                    pass
        instance['optimal_length'] = calc_total_length(
            coords=instance['coords'], path=instance['optimal_path'])

Finds the path using one sided Nearest Neighbor Algorithm

In [75]:
def one_sided(coords, initial_customer=10):
    residues = set(coords.keys())
    current = initial_customer
    path = [current]
    residues.discard(current)

    while len(residues) > 0:
        closest_distance = 1e10
        closest = None
        for candidate in residues:
            distance = l2_squared(coords[current], coords[candidate])
            if distance < closest_distance:
                closest_distance = distance
                closest = candidate
        path.append(closest)
        residues.discard(closest)
        current = closest

    path.append(path[0])
    return path

Actually read the files and create the dataframe that will store our solutions

In [80]:
read_files()
df = create_df()
df

method                   1-Sided_NN             2-Sided_NN              \
stage                       Initial After_2-opt    Initial After_2-opt
dataset initial_customer
eil76   10                      NaN         NaN        NaN         NaN
        20                      NaN         NaN        NaN         NaN
        30                      NaN         NaN        NaN         NaN
eil101  10                      NaN         NaN        NaN         NaN
        20                      NaN         NaN        NaN         NaN
        30                      NaN         NaN        NaN         NaN
eil51   10                      NaN         NaN        NaN         NaN
        20                      NaN         NaN        NaN         NaN
        30                      NaN         NaN        NaN         NaN

method                   Nearest_Insert             Furthest_Insert  \
stage                           Initial After_2-opt         Initial
dataset initial_customer
eil76   10                          NaN         NaN             NaN
        20                          NaN         NaN             NaN
        30                          NaN         NaN             NaN
eil101  10                          NaN         NaN             NaN
        20                          NaN         NaN             NaN
        30                          NaN         NaN             NaN
eil51   10                          NaN         NaN             NaN
        20                          NaN         NaN             NaN
        30                          NaN         NaN             NaN

method
stage                    After_2-opt
dataset initial_customer
eil76   10                       NaN
        20                       NaN
        30                       NaN
eil101  10                       NaN
        20                       NaN
        30                       NaN
eil51   10                       NaN
        20                       NaN
        30                       NaN

In [81]:
def one_opt(coords, path):
    return path[::2]

In [82]:
def dummy(coords, initial_customer=initial):
    return [1, 2, 3, 1]

In [83]:
def find_method(method_name):
    method_dict = {
        '1-Sided_NN': one_sided,
        '2-Sided_NN': dummy,
        'Nearest_Insert': dummy,
        'Furthest_Insert': dummy,
    }
    return method_dict[method_name]


for instance in INSTANCES:
    df.loc[instance, 'optimal'] = INSTANCES[instance]['optimal_length']
    coords = INSTANCES[instance]['coords']
    for initial in INITIAL_CUSTOMERS:
        for method_name in METHODS:
            method = find_method(method_name)
            path = method(coords, initial_customer=initial)
            length = calc_total_length(coords, path)
            df.loc[(instance, initial), (method_name, 'Initial')] = length

            better_path = one_opt(coords, path)
            length = calc_total_length(coords, better_path)
            df.loc[(instance, initial), (method_name, 'After_2-opt')] = length
df

method                   1-Sided_NN             2-Sided_NN              \
stage                       Initial After_2-opt    Initial After_2-opt
dataset initial_customer
eil76   10                  640.533     479.526    61.7894     23.0217
        20                  735.983     573.047    61.7894     23.0217
        30                  730.285     512.053    61.7894     23.0217
eil101  10                  796.041     662.908    81.5272     14.5602
        20                  800.708     620.784    81.5272     14.5602
        30                  776.518     581.339    81.5272     14.5602
eil51   10                  558.849     428.242    46.8757     19.2094
        20                  567.304     412.716    46.8757     19.2094
        30                  520.018     400.783    46.8757     19.2094

method                   Nearest_Insert             Furthest_Insert  \
stage                           Initial After_2-opt         Initial
dataset initial_customer
eil76   10                      61.7894     23.0217         61.7894
        20                      61.7894     23.0217         61.7894
        30                      61.7894     23.0217         61.7894
eil101  10                      81.5272     14.5602         81.5272
        20                      81.5272     14.5602         81.5272
        30                      81.5272     14.5602         81.5272
eil51   10                      46.8757     19.2094         46.8757
        20                      46.8757     19.2094         46.8757
        30                      46.8757     19.2094         46.8757

method                                   optimal
stage                    After_2-opt
dataset initial_customer
eil76   10                   23.0217  545.387552
        20                   23.0217  545.387552
        30                   23.0217  545.387552
eil101  10                   14.5602  642.309536
        20                   14.5602  642.309536
        30                   14.5602  642.309536
eil51   10                   19.2094  429.983312
        20                   19.2094  429.983312
        30                   19.2094  429.983312

In [84]:
df.div(df['optimal'],axis='rows')

method                   1-Sided_NN             2-Sided_NN              \
stage                       Initial After_2-opt    Initial After_2-opt
dataset initial_customer
eil76   10                  1.17445     0.87924   0.113294   0.0422117
        20                  1.34947     1.05071   0.113294   0.0422117
        30                  1.33902     0.93888   0.113294   0.0422117
eil101  10                  1.23934     1.03207   0.126928   0.0226685
        20                  1.24661    0.966487   0.126928   0.0226685
        30                  1.20895    0.905076   0.126928   0.0226685
eil51   10                   1.2997    0.995951   0.109018   0.0446747
        20                  1.31936    0.959842   0.109018   0.0446747
        30                  1.20939     0.93209   0.109018   0.0446747

method                   Nearest_Insert             Furthest_Insert  \
stage                           Initial After_2-opt         Initial
dataset initial_customer
eil76   10                     0.113294   0.0422117        0.113294
        20                     0.113294   0.0422117        0.113294
        30                     0.113294   0.0422117        0.113294
eil101  10                     0.126928   0.0226685        0.126928
        20                     0.126928   0.0226685        0.126928
        30                     0.126928   0.0226685        0.126928
eil51   10                     0.109018   0.0446747        0.109018
        20                     0.109018   0.0446747        0.109018
        30                     0.109018   0.0446747        0.109018

method                               optimal
stage                    After_2-opt
dataset initial_customer
eil76   10                 0.0422117       1
        20                 0.0422117       1
        30                 0.0422117       1
eil101  10                 0.0226685       1
        20                 0.0226685       1
        30                 0.0226685       1
eil51   10                 0.0446747       1
        20                 0.0446747       1
        30                 0.0446747       1