# IE517
## Homework #1 
##### (Due March 22)
## Abdullah Hanefi Önaldı
## Solving the TSP using Construction Heuristics and 2-Opt Improvement Heuristic

### Problem Description

In this homework, you are going to solve the TSP for three data sets. They are called eil51.dat, eil76.dat, and eil101.dat, and consist of 51, 76, and 101 customer locations, respectively. Each data set includes the x-coordinates and y-coordinates of customers. The distances between customer locations are measured via Euclidean distance rounded to two digits after the decimal point. You can also compute the optimal tour length by considering the sequence given in the xxxopt.dat files.

1. Solve each instance using the one-sided nearest neighbor heuristic starting at cities 10, 20, and 30. This means that you will obtain nine tours. Provide the tour length of each one using the table below.
2. Solve each instance using the two-sided nearest neighbor heuristic starting at cities 10, 20, and 30. This means that you will obtain nine tours. Provide the tour length of each one using the table below.
3. Solve each instance using the nearest insertion heuristic starting at cities 10, 20, and 30. This means that you will obtain nine tours. Provide the tour length of each one using the table below.
4. Solve each instance using the farthest insertion heuristic starting at cities 10, 20, and 30. This means that you will obtain nine tours. Provide the tour length of each one using the table below.
5. For each tour obtained so far, apply the 2-opt improvement heuristic, and give the tour length using the table below.

I would like to remind you the following points which you should consider when you submit your homework. It will consist of two parts: your code and report. First, your code must be clear and you should define the following using comment lines in the code: variables names and their purpose, function names and their purpose. For example, you should write "X is the location variable", "CompObj calculates the objective value", etc. Or, you can use a function name that is self explanatory e.g., ApplyMove.

In the report part, you have to mention which solution representation and neighborhood structure you used as well as other pertinent and tiny details worth pointing out. You can use the following table for the output of your solutions.

<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>method</th>
      <th colspan="2" halign="left">1-Sided_NN</th>
      <th colspan="2" halign="left">2-Sided_NN</th>
      <th colspan="2" halign="left">Nearest_Insert</th>
      <th colspan="2" halign="left">Furthest_Insert</th>
    </tr>
    <tr>
      <th></th>
      <th>stage</th>
      <th>Initial</th>
      <th>After_2-opt</th>
      <th>Initial</th>
      <th>After_2-opt</th>
      <th>Initial</th>
      <th>After_2-opt</th>
      <th>Initial</th>
      <th>After_2-opt</th>
    </tr>
    <tr>
      <th>dataset</th>
      <th>initial_customer</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">eil76</th>
      <th>10</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>20</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">eil101</th>
      <th>10</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>20</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">eil51</th>
      <th>10</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>20</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

Let's start by defining several helper functions:

- `l2_squared` : calculates the euclidian distance between two coordinates
- `calc_total_length` : calculates the total path length, given the corrdinates of all customers, and the order they are visited

In [3]:
import pandas as pd
import numpy as np


def l2_squared(p1, p2):
    x1, y1 = p1
    x2, y2 = p2
    return ((x1 - x2)**2 + (y1 - y2)**2)**0.5


def calc_total_length(coords, path):
    length = 0
    for first, second in zip(path, path[1:]):
        length += l2_squared(coords[first], coords[second])
    return length

The static variables storing problem instances, initial customer indices, methods, and stages as described in the problem description

In [4]:
INSTANCES = {
    'eil76': {
        'file': 'data/eil76.dat',
        'file_opt': 'data/eil76opt.dat'
    },
    'eil101': {
        'file': 'data/eil101.dat',
        'file_opt': 'data/eil101opt.dat'
    },
    'eil51': {
        'file': 'data/eil51.dat',
        'file_opt': 'data/eil51opt.dat'
    },
}
INITIAL_CUSTOMERS = [10, 20, 30]
METHODS = ['1-Sided_NN', '2-Sided_NN', 'Nearest_Insert', 'Furthest_Insert']
STAGES = ['Initial', 'After_2-opt']

Create the Pandas DataFrame that will hold all the solutions

In [5]:
def create_df(instances=INSTANCES,
              initial_customers=INITIAL_CUSTOMERS,
              methods=METHODS,
              stages=STAGES):
    indexes = [instances.keys(), initial_customers]
    row_index = pd.MultiIndex.from_product(
        indexes, names=['dataset', 'initial_customer'])

    indexes = [methods, stages]
    column_index = pd.MultiIndex.from_product(
        indexes, names=['method', 'stage'])

    df = pd.DataFrame(index=row_index, columns=column_index)

    return df

Read the files of the given instances

In [6]:
def read_files(instances=INSTANCES):
    for instance in instances.values():
        instance['coords'] = {}
        with open(instance['file']) as file:
            for line in file:
                [i, x, y] = list(map(int, line.split()))
                instance['coords'][i] = (x, y)

        instance['optimal_path'] = []
        with open(instance['file_opt']) as file_opt:
            for line in file_opt:
                try:
                    i = int(line)
                    instance['optimal_path'].append(i)
                except ValueError:
                    pass
        instance['optimal_length'] = calc_total_length(
            coords=instance['coords'], path=instance['optimal_path'])

Finds the path using one sided Nearest Neighbor Algorithm

In [7]:
def two_sided(coords, initial_customer=10):
    unvisited = set(coords.keys())
    path = [initial_customer]
    unvisited.discard(initial_customer)

    PUSH_BACK, PUSH_FRONT = 1, 2

    while len(unvisited) > 0:
        closest_distance = 1e10
        closest = None
        direction = None
        first, last = path[0], path[-1]

        for candidate in unvisited:
            distance_to_first = l2_squared(coords[first], coords[candidate])
            if distance_to_first < closest_distance:
                closest_distance = distance_to_first
                closest = candidate
                direction = PUSH_BACK

            distance_to_last = l2_squared(coords[last], coords[candidate])
            if distance_to_last < closest_distance:
                closest_distance = distance_to_last
                closest = candidate
                direction = PUSH_FRONT

        if direction is PUSH_BACK:
            path.insert(0, closest)
        else:
            path.append(closest)

        unvisited.discard(closest)
        current = closest

    path.append(path[0])
    return path

In [8]:
def one_sided(coords, initial_customer=10):
    unvisited = set(coords.keys())
    current = initial_customer
    path = [current]
    unvisited.discard(current)

    while len(unvisited) > 0:
        closest_distance = 1e10
        closest = None
        for candidate in unvisited:
            distance = l2_squared(coords[current], coords[candidate])
            if distance < closest_distance:
                closest_distance = distance
                closest = candidate
        path.append(closest)
        unvisited.discard(closest)
        current = closest

    path.append(path[0])
    return path

In [9]:
# inserts k between i and j
def insertion_cost(coords, i, j, k):
    return l2_squared(coords[i], coords[k]) + l2_squared(
        coords[k], coords[j]) - l2_squared(coords[i], coords[j])

In [10]:
# def nearest_insert(coords, initial_customer=10):
#     unvisited = set(coords.keys())
#     path = [initial_customer,initial_customer]
#     unvisited.discard(initial_customer)

#     distances = {
#         key: l2_squared(coords[key], coords[initial_customer])
#         for key in unvisited
#     }

#     while len(unvisited) > 0:
#         closest = min(distances, key=distances.get)
#         insertion_costs = {
#             path[i]: insertion_cost(coords, path[i], path[i + 1], closest)
#             for i in range(len(path) - 1)
#         }
#         min_cost_index = min(insertion_costs, key=insertion_costs.get)

#         unvisited.discard(closest)
#         distances.pop(closest, None)
#         path.insert(min_cost_index, closest)
        
#         for node, dist in distances.items():
#             distances[node] = min(dist, l2_squared(coords[node], coords[closest]))

# #     path.append(path[0])
#     return path

Actually read the files and create the dataframe that will store our solutions

In [11]:
read_files()
df = create_df()

In [12]:
paths = create_df()

In [13]:
def two_opt(coords, path):
    return path[::2]

In [14]:
def dummy(coords, initial_customer):
    return [1]

In [15]:
def find_method(method_name):
    method_dict = {
        '1-Sided_NN': one_sided,
        '2-Sided_NN': two_sided,
        'Nearest_Insert': dummy,
        'Furthest_Insert': dummy,
    }
    return method_dict[method_name]


for instance in INSTANCES:
    df.loc[instance, 'optimal'] = INSTANCES[instance]['optimal_length']
    coords = INSTANCES[instance]['coords']
    for initial in INITIAL_CUSTOMERS:
        for method_name in METHODS:
            method = find_method(method_name)
            path = method(coords, initial_customer=initial)
            paths.loc[(instance, initial), (method_name, 'Initial')] = path
            length = calc_total_length(coords, path)
            df.loc[(instance, initial), (method_name, 'Initial')] = length

            better_path = two_opt(coords, path)
            length = calc_total_length(coords, better_path)
            df.loc[(instance, initial), (method_name, 'After_2-opt')] = length
df

method                   1-Sided_NN             2-Sided_NN              \
stage                       Initial After_2-opt    Initial After_2-opt
dataset initial_customer
eil76   10                  640.533     479.526    699.074     528.053
        20                  735.983     573.047    699.998      550.01
        30                  730.285     512.053    662.913     537.171
eil101  10                  796.041     662.908    816.655     557.049
        20                  800.708     620.784    833.612     604.436
        30                  776.518     581.339    833.612     604.436
eil51   10                  558.849     428.242    558.477     438.826
        20                  567.304     412.716    545.586     407.471
        30                  520.018     400.783    520.656     336.833

method                   Nearest_Insert             Furthest_Insert  \
stage                           Initial After_2-opt         Initial
dataset initial_customer
eil76   10                            0           0               0
        20                            0           0               0
        30                            0           0               0
eil101  10                            0           0               0
        20                            0           0               0
        30                            0           0               0
eil51   10                            0           0               0
        20                            0           0               0
        30                            0           0               0

method                                   optimal
stage                    After_2-opt
dataset initial_customer
eil76   10                         0  545.387552
        20                         0  545.387552
        30                         0  545.387552
eil101  10                         0  642.309536
        20                         0  642.309536
        30                         0  642.309536
eil51   10                         0  429.983312
        20                         0  429.983312
        30                         0  429.983312

In [16]:
# x = paths.iloc[0]['1-Sided_NN','Initial']
# print(len(x))

# x = paths.iloc[0]['Nearest_Insert','Initial']
# print(len(x))

In [17]:
df

method                   1-Sided_NN             2-Sided_NN              \
stage                       Initial After_2-opt    Initial After_2-opt
dataset initial_customer
eil76   10                  640.533     479.526    699.074     528.053
        20                  735.983     573.047    699.998      550.01
        30                  730.285     512.053    662.913     537.171
eil101  10                  796.041     662.908    816.655     557.049
        20                  800.708     620.784    833.612     604.436
        30                  776.518     581.339    833.612     604.436
eil51   10                  558.849     428.242    558.477     438.826
        20                  567.304     412.716    545.586     407.471
        30                  520.018     400.783    520.656     336.833

method                   Nearest_Insert             Furthest_Insert  \
stage                           Initial After_2-opt         Initial
dataset initial_customer
eil76   10                            0           0               0
        20                            0           0               0
        30                            0           0               0
eil101  10                            0           0               0
        20                            0           0               0
        30                            0           0               0
eil51   10                            0           0               0
        20                            0           0               0
        30                            0           0               0

method                                   optimal
stage                    After_2-opt
dataset initial_customer
eil76   10                         0  545.387552
        20                         0  545.387552
        30                         0  545.387552
eil101  10                         0  642.309536
        20                         0  642.309536
        30                         0  642.309536
eil51   10                         0  429.983312
        20                         0  429.983312
        30                         0  429.983312

In [18]:
df.div(df['optimal'], axis='rows')

method                   1-Sided_NN             2-Sided_NN              \
stage                       Initial After_2-opt    Initial After_2-opt
dataset initial_customer
eil76   10                  1.17445     0.87924    1.28179    0.968217
        20                  1.34947     1.05071    1.28349     1.00848
        30                  1.33902     0.93888    1.21549    0.984935
eil101  10                  1.23934     1.03207    1.27144    0.867259
        20                  1.24661    0.966487    1.29784    0.941036
        30                  1.20895    0.905076    1.29784    0.941036
eil51   10                   1.2997    0.995951    1.29883     1.02056
        20                  1.31936    0.959842    1.26885    0.947644
        30                  1.20939     0.93209    1.21087    0.783362

method                   Nearest_Insert             Furthest_Insert  \
stage                           Initial After_2-opt         Initial
dataset initial_customer
eil76   10                            0           0               0
        20                            0           0               0
        30                            0           0               0
eil101  10                            0           0               0
        20                            0           0               0
        30                            0           0               0
eil51   10                            0           0               0
        20                            0           0               0
        30                            0           0               0

method                               optimal
stage                    After_2-opt
dataset initial_customer
eil76   10                         0       1
        20                         0       1
        30                         0       1
eil101  10                         0       1
        20                         0       1
        30                         0       1
eil51   10                         0       1
        20                         0       1
        30                         0       1

In [19]:
df

method                   1-Sided_NN             2-Sided_NN              \
stage                       Initial After_2-opt    Initial After_2-opt
dataset initial_customer
eil76   10                  640.533     479.526    699.074     528.053
        20                  735.983     573.047    699.998      550.01
        30                  730.285     512.053    662.913     537.171
eil101  10                  796.041     662.908    816.655     557.049
        20                  800.708     620.784    833.612     604.436
        30                  776.518     581.339    833.612     604.436
eil51   10                  558.849     428.242    558.477     438.826
        20                  567.304     412.716    545.586     407.471
        30                  520.018     400.783    520.656     336.833

method                   Nearest_Insert             Furthest_Insert  \
stage                           Initial After_2-opt         Initial
dataset initial_customer
eil76   10                            0           0               0
        20                            0           0               0
        30                            0           0               0
eil101  10                            0           0               0
        20                            0           0               0
        30                            0           0               0
eil51   10                            0           0               0
        20                            0           0               0
        30                            0           0               0

method                                   optimal
stage                    After_2-opt
dataset initial_customer
eil76   10                         0  545.387552
        20                         0  545.387552
        30                         0  545.387552
eil101  10                         0  642.309536
        20                         0  642.309536
        30                         0  642.309536
eil51   10                         0  429.983312
        20                         0  429.983312
        30                         0  429.983312